<!DOCTYPE html>
<html>
<head>
<title>Bitcoin Ticker</title>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/js/base.js"></script>
<!-- <script src="https://www.w3schools.com/lib/w3.js"></script> -->
<script src="../js/highcharts.js"></script>

<link type="text/css" rel="stylesheet"
	href="/bootstrap/css/bootstrap.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/css/style.css"
	rel="stylesheet">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button aria-controls="bs-navbar" aria-expanded="false"
					class="collapsed navbar-toggle" data-target="#bs-navbar"
					data-toggle="collapse" type="button">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="../" class="navbar-brand">Bitcoin Ticker</a>
			</div>
			<nav class="collapse navbar-collapse" id="bs-navbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="../css/" class="hidden">CSS</a></li>
					<li><a href="../components/" class="hidden">Components</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				</ul>
			</nav>
		</div>
	</div>
	<div class="container">
		<ul class="nav nav-pills">
			<li id="nav-ask" role="presentation" onclick="changeChart('ask'); return false;"><a href="#">Compra</a></li>
			<li id="nav-bid" role="presentation" onclick="changeChart('bid'); return false;"><a href="#">Venta</a></li>
		</ul>
	</div>
	<div id="chartDiv" class="col-xs-12 col-md-12">
		<div id="live-chart-btc"
			style="min-width: 310px; height: 400px; margin: 0 auto"></div>
		<div id="live-chart-eth"
			style="min-width: 310px; height: 400px; margin: 0 auto"></div>
		<div id="live-chart-xrp"
			style="min-width: 310px; height: 400px; margin: 0 auto"></div>
		<div id="container"></div>
	</div>
	<script src="../js/live-chart.js?1.1"></script>
	<!-- <script src="../js/chart.js"></script> -->

</body>
</html>